
.DS_Store
.vscode/settings.json
*.csv
*.csv
daily_record.txt
daily_record.txt
daily_spectator.txt
weekly_examiner.txt
weekly_niagara.txt
weekly_spectator.txt
weekly_record.txt
*.txt
*.ps
*.pdf
*.pdf
*.ps
*.rtf
*.ps
*.pdf
*.ps
*.rtf
*.pdf
*.ps
test_output.pdf
test.ps
spec_stats_daily_01012019.pdf
output.rtf
output.ps
output.pdf
output.pdf
output.pdf
output.ps
output.rtf
spec_stats_daily_01012019.pdf
test.ps
test_output.pdf
data_reports/test.html
*.numbers
*.xlsx
*.xls
*.zip
*.xls
