<%
def get_opacity(v, l):
    # returns percentage that value is of range
    # between min, max given a list of numbers
    result = (v - min(l)) / (max(l) - min(l))
    return round(result, 2)
end
%>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Heat maps</title>
    <style>
        table {
            table-layout: fixed;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <main class="container">
    <h2>Heat maps</h2>
    <p>Select site(s) to view:
        <button type="button" class="btn btn-sm btn-light" data-target="#A" data-toggle="collapse">A</button>
        <button type="button" class="btn btn-sm btn-primary" data-target="#B" data-toggle="collapse">B</button>
        <button type="button" class="btn btn-sm btn-primary" data-target="#C" data-toggle="collapse">C</button>
    </p>
    <p></p>

    <div class="collapse" id="A">
        <h4>Site A</h4>
        <button type="button" class="btn btn-sm btn-danger">Views</button>
        <button type="button" class="btn btn-sm btn-warning">Visitors</button>
        <button type="button" class="btn btn-sm btn-success">Articles</button>
        <p></p>
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th scope="col">Hour</th>
                    <th colspan="2" scope="col" class="text-center">Monday</th>
                    <th colspan="2" scope="col" class="text-center">Tuesday</th>
                    <th colspan="2" scope="col" class="text-center">Wednesday</th>
                    <th colspan="2" scope="col" class="text-center">Thursday</th>
                    <th colspan="2" scope="col" class="text-center">Friday</th>
                    <th colspan="2" scope="col" class="text-center">Saturday</th>
                    <th colspan="2" scope="col" class="text-center">Sunday</th>
                </tr>
            </thead>
            <tbody>
                % for k, v in data.items(): 
                    
                    % if k == 'total':
                        <tr style="border-bottom: 4px solid white;">
                    % else:
                        <tr>
                    % end
                        <th class="align-middle">{{k}}</th>
                        % for i in range(len(days)):
                            <td class="text-center" style="background-color:rgba(255,193,7,{{get_opacity(v['PV'][i], v['PV'])}})">{{v['PV'][i]}}</td>
                            <td class="text-center" style="background-color: rgba(220,53,69,1)">{{v['UV'][i]}}</td>
                        % end
                    </tr>


                % end
            </tbody>
        </table>
    </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>